<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="../public/styles/style.css">
    </head>

    <body>
        <a href="/login">Login Here</a>
    </body>
</html>